.order-container { 
  display: block;
  margin: 20px;
  padding: 20px;
}

.order {
   background-color: #15d373;
   max-width: 800px;
   padding: 10px;
   margin: 20px;
   border: 1px solid black;
  
}