header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fafafc;
    background-color: #141231;
    display: flex;
    justify-content: space-between;

    a {
        top: 20px;
        padding: 10px;
        margin:10px;
        color: #ef523d;
        text-decoration: none;
        align-items: center;  
    }
}

