

.container {
    font-family: arial;
   
    
    header {
        font-size: 20px;
        background-color: red;
        padding: 0px;
    }
}

.movie-container {
    
    
 
    img {
        width: 100px;
        object-fit: contain;
    }
    
}

